In [1]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.2.0-cp313-cp313-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
    --------------------------------------- 0.3/11.5 MB ? eta -:--:--
   ---- ----------------------------------- 1.3/11.5 MB 4.4 MB/s eta 0:00:03
   ----------- ---------------------------- 3.4/11.5 MB 7.0 MB/s eta 0:00:02
   --------------------- ------------------ 6.3/11.5 MB 8.8 MB/s eta 0:00:01
   ------------------------------- -------- 9.2/11.5 MB 10.1 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 10.4 MB/s eta 0:00:00
Downloading numpy-2.2.0-cp313-cp313-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   --------- ------------------------------ 3.1/12.6 MB 14.7 MB/s eta 0:00:01
   --------------------- ------------------ 6.8/12.6 MB 16.4 MB/s eta 0:00:01
   -------------------------------- ------- 10.2/12.6 MB 16.1 MB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 15.6 MB/s eta 0:00:00
Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.2.0 pandas-2.2.3 pytz-2024.2 tzdata-2024.2

In [2]:
!pip install seaborn

Collecting seaborn
  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from seaborn) (2.2.0)
Requirement already satisfied: pandas>=1.2 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from seaborn) (2.2.3)
Collecting matplotlib!=3.6.1,>=3.4 (from seaborn)
  Downloading matplotlib-3.9.3-cp313-cp313-win_amd64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading contourpy-1.3.1-cp313-cp313-win_amd64.whl.metadata (5.4 kB)
Collecting cycler>=0.10 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading fonttools-4.55.2-cp313-cp313-win_amd64.whl.metadata (168 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading kiwisolver-1.4.7-cp313-cp313-win_amd64.whl.metadata (6.4 kB)
Requirement already satisfied: packaging>=20.0 in c:\users\user\appdata\roaming\python\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Collecting pillow>=8 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading pillow-11.0.0-cp313-cp313-win_amd64.whl.metadata (9.3 kB)
Collecting pyparsing>=2.3.1 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading pyparsing-3.2.0-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\user\appdata\roaming\python\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
Downloading matplotlib-3.9.3-cp313-cp313-win_amd64.whl (7.8 MB)
   ---------------------------------------- 0.0/7.8 MB ? eta -:--:--
   -- ------------------------------------- 0.5/7.8 MB 3.8 MB/s eta 0:00:02
   ------ --------------------------------- 1.3/7.8 MB 3.4 MB/s eta 0:00:02
   ---------- ----------------------------- 2.1/7.8 MB 3.5 MB/s eta 0:00:02
   -------------- ------------------------- 2.9/7.8 MB 3.7 MB/s eta 0:00:02
   -------------------- ------------------- 3.9/7.8 MB 3.9 MB/s eta 0:00:01
   ------------------------- -------------- 5.0/7.8 MB 4.1 MB/s eta 0:00:01
   ----------------------------- ---------- 5.8/7.8 MB 4.3 MB/s eta 0:00:01
   ---------------------------------- ----- 6.8/7.8 MB 4.2 MB/s eta 0:00:01
   ---------------------------------------- 7.8/7.8 MB 4.4 MB/s eta 0:00:00
Downloading contourpy-1.3.1-cp313-cp313-win_amd64.whl (220 kB)
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.55.2-cp313-cp313-win_amd64.whl (2.2 MB)
   ---------------------------------------- 0.0/2.2 MB ? eta -:--:--
   ----------------------- ---------------- 1.3/2.2 MB 7.4 MB/s eta 0:00:01
   ---------------------------------------- 2.2/2.2 MB 6.3 MB/s eta 0:00:00
Downloading kiwisolver-1.4.7-cp313-cp313-win_amd64.whl (55 kB)
Downloading pillow-11.0.0-cp313-cp313-win_amd64.whl (2.6 MB)
   ---------------------------------------- 0.0/2.6 MB ? eta -:--:--
   ------------------------ --------------- 1.6/2.6 MB 8.1 MB/s eta 0:00:01
   ---------------------------------------- 2.6/2.6 MB 7.6 MB/s eta 0:00:00
Downloading pyparsing-3.2.0-py3-none-any.whl (106 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib, seaborn
Successfully installed contourpy-1.3.1 cycler-0.12.1 fonttools-4.55.2 kiwisolver-1.4.7 matplotlib-3.9.3 pillow-11.0.0 pyparsing-3.2.0 seaborn-0.13.2

In [3]:
!pip install sklearn

Collecting sklearn
  Downloading sklearn-0.0.post12.tar.gz (2.6 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'error'

  error: subprocess-exited-with-error

  × Getting requirements to build wheel did not run successfully.
  │ exit code: 1
  ╰─> [15 lines of output]
      The 'sklearn' PyPI package is deprecated, use 'scikit-learn'
      rather than 'sklearn' for pip commands.

      Here is how to fix this error in the main use cases:
      - use 'pip install scikit-learn' rather than 'pip install sklearn'
      - replace 'sklearn' by 'scikit-learn' in your pip requirements files
        (requirements.txt, setup.py, setup.cfg, Pipfile, etc ...)
      - if the 'sklearn' package is used by one of your dependencies,
        it would be great if you take some time to track which package uses
        'sklearn' instead of 'scikit-learn' and report it to their issue tracker
      - as a last resort, set the environment variable
        SKLEARN_ALLOW_DEPRECATED_SKLEARN_PACKAGE_INSTALL=True to avoid this error

      More information is available at
      https://github.com/scikit-learn/sklearn-pypi-package
      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: subprocess-exited-with-error

× Getting requirements to build wheel did not run successfully.
│ exit code: 1
╰─> See above for output.

note: This error originates from a subprocess, and is likely not a problem with pip.

In [11]:
import pandas as pd
import seaborn as sns
import matplotlib as plt
import numpy as np
import sklearn
df_ca = {
    'ism' : ['Ali', 'Vali', 'Bali'],
    'yosh' : [23,22,20],
    'oylik': [300,500,700],
    'boyi' : [180.664,190.564,170.765],
    'hobbi': ['futbol', 'voleybol', 'tenis'],
    'positsiya' : ['student', 'ishchi', 'bekorchi'],
    'rating' : ['A', 'B', 'C'],
    'status': ['yolgiz', 'farzandli', 'uylangan']
}
df = pd.DataFrame(df_ca)
df

    ism  yosh  oylik     boyi     hobbi positsiya rating     status
0   Ali    23    300  180.664    futbol   student      A     yolgiz
1  Vali    22    500  190.564  voleybol    ishchi      B  farzandli
2  Bali    20    700  170.765     tenis  bekorchi      C   uylangan

In [12]:
dummies = pd.get_dummies(df,columns=["hobbi","positsiya"],dtype=np.int8)
dummies

,ism,yosh,oylik,boyi,rating,status,hobbi_futbol,hobbi_tenis,hobbi_voleybol,positsiya_bekorchi,positsiya_ishchi,positsiya_student
0,Ali,23,300,180.664,A,yolgiz,1,0,0,0,0,1
1,Vali,22,500,190.564,B,farzandli,0,0,1,0,1,0
2,Bali,20,700,170.765,C,uylangan,0,1,0,1,0,0

In [15]:
from sklearn.preprocessing import OrdinalEncoder

ordinal = OrdinalEncoder(dtype=np.int8).set_output(transform='pandas')
df_ordinal = ordinal.fit_transform(dummies[['rating','status']])
df_ordinal

   rating  status
0       0       2
1       1       0
2       2       1

In [ ]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
onehot = OneHotEncoder(dtype=np.int8,sparse_output=False).set_output(transform='pandas')
ho_ordinal = onehot.fit_transform(df[['hobbi','positsiya']])
ho_ordinal

,hobbi_futbol,hobbi_tenis,hobbi_voleybol,positsiya_bekorchi,positsiya_ishchi,positsiya_student
0,1,0,0,0,0,1
1,0,0,1,0,1,0
2,0,1,0,1,0,0